body { font-family: sans-serif; font-size: 10px; line-height: 150%; }
li { float: left; list-style-type: none; }
#trackImg img { margin: 2px; }
#searchBox { width: 300px; margin: 0 auto; }
#scQuery { width: 230px; }
#list img { margin: 2px; }